<!DOCTYPE html>
<html lang="en" ng-app="novodb">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Novodb</title>
    <meta name="description" content="Novodb">
    <meta name="author" content="Mikhail Sosonkin">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.terminal.css">

	<link href='css/normalize.css' rel='stylesheet' type='text/css' />
	<link href='css/simple.css' rel='stylesheet' type='text/css' />
	<link href='css/ventus.css' rel='stylesheet' type='text/css' />
    <link href='css/novodb.css' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.terminal-0.8.8.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.9.0.js"></script>
    <script type="text/javascript" src="js/novodb-lib.js"></script>
    <script type="text/javascript" src="js/util-lib.js"></script>
    <script type="text/javascript" src="js/novodb.js"></script>
    <script type="text/javascript" src="js/novodb-jq.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/handlebars.js"></script>
	<script type="text/javascript" src="js/ventus.js"></script>
    <script type="text/javascript" src="plugins/common.js"></script>

    <!-- insert plugins here -->
    {{js_files}}

    {{css_files}}
    <!-- plugins done -->
</head>

<body id="dbg" ng-controller="dbg">

<div class="logo">
    <span>Novodb</span>
</div>

<div class="sidenavbar">
    <div class="sidenavbar_item" data-toggle-tp="tooltip" data-placement="right" title="Inspection Components">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" 
                  type="button" id="componentsMenu" 
                  data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="componentsMenu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" ng-click="instantiatePlugin('Memview')">Memory</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" ng-click="instantiatePlugin('Insview')">Disassembly</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" ng-click="instantiatePlugin('Regview')">Registers</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="sidenavbar_item" data-toggle-tp="tooltip" data-placement="right" title="Control Components">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" 
                  type="button" id="componentsMenu" 
                  data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-wrench"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="componentsMenu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" ng-click="instantiatePlugin('Breakpoint')">Breakpoints</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="sidenavbar_item" style="bottom: 0px; position: absolute;">
        <button class="btn btn-default" 
                type="button" id="componentsMenu" 
                aria-expanded="true">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>
    </div>
</div>

<div id="plugins_container" ndb-plugins-container="plugins">
</div>

<div class="footer" id="footer_terminal">
</div>

</body>
</html>



<!--
        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="getModules()">Get Modules</button>
            <input type="text" ng-model="module_search" ng-trim="true">
            <table>
                <tr ng-repeat="mod in module_output.modules | filter:module_search">
                    <td>{{ mod.filename }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="listSymbols()">List symbols</button>
            <input type="text" ng-model="sym_search" ng-trim="true">
            <table>
                <tr ng-repeat="sym in symbols_output.symbols | filter:sym_search">
                    <td>{{ sym.start_addr.load_addr }}</td>
                    <td>{{ sym.name }}</td>
                </tr>
            </table>
        </div>
        -->