<!DOCTYPE html>
<html lang="en" ng-app="novodb">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Novodb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Novodb">
    <meta name="author" content="Mikhail Sosonkin">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/autocomplete.css">
    <style>
        body {
            padding-top: 70px;
        }

        .memory_view {
            font-family: monospace;
            font-size: x-small;
        }

        .footer {
            background-color: #606060;
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
            overflow: scroll;
        }

        #log_view {
            color: greenyellow;
            background-color: inherit;
            left: 0px;
            right: 0px;
            margin-top: 0px;
            height: 100%;
            border: 0px;
            font-family: "Courier New", monospace;
            font-size: 10px;
        }

        #cmd_line {
            color: inherit;
            color: greenyellow;
            background-color: inherit;
            font-family: "Courier New", monospace;
            font-size: 10px;
            height: 100%;
            width: 100%;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border: 0px;
        }

        #main_view {
            overflow: scroll;
            margin-bottom: 100px;
        }
    </style>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="js/novodb-lib.js"></script>
    <script src="js/novodb.js"></script>
    <script src="plugins/memview/main.js"></script>

</head>

<body ng-controller="dbg">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">Novodb</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <div>
                {{proc_state.description}} ({{proc_state.session}})
            </div>
            <!--<li class="active">
                <a href="#">Link</a>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">One more separated link</a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="exe_file_path" required ng-trim="true">
            </div>
            <button ng-click="targetExe(exe_file_path)" type="submit" class="btn btn-default">Load EXE</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
</nav>

<script type="text/ng-template" id="autocomplete_template">
    <a>
        <i>{{ match.model.pid }}</i>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="container" id="main_view">
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="form-group">
                <input class="form-control"
                       type="text" placeholder="start debugging"
                       ng-model="attachAutocomplete"
                       typeahead="path as proc.proc_name for proc in get_attach_data($viewValue) | limitTo:10"
                       typeahead-min-length='1'
                       typeahead-on-select='onSelectPart($item, $model, $label)'
                       typeahead-template-url="autocomplete_template">

                <button class="btn btn-default" ng-click="targetExe(attachAutocomplete)">Load EXE</button>
                <button class="btn btn-default" ng-click="launchTarget()">Launch</button>
                <button class="btn btn-default" ng-click="attachTarget(attachAutocomplete)">Attach</button>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="readRegisters()">Get Registers</button>
            <input type="text" ng-model="reg_search" ng-trim="true">

            <div ng-repeat="reg_set in register_output.registers">
                {{ reg_set.name }}:
                <table>
                    <tr ng-repeat="reg in reg_set.values | filter:reg_search | filter:{value: '!!'}">
                        <td>{{ reg.name }}</td>
                        <td>{{ reg.value }}</td>
                    </tr>
                </table>
                <hr width="75%">
            </div>
        </div>
        <div class="col-md-4 column">
            <input type="text" name="input" ng-model="inst_addr" required ng-trim="true">
            <button class="btn btn-default" ng-click="readInstructions(inst_addr)">Read Instruction</button>

            <table>
                <tr ng-repeat="inst in inst_output.instructions">
                    <td>{{ inst.description }}</td>
                </tr>
            </table>

        </div>

        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="getModules()">Get Modules</button>
            <input type="text" ng-model="module_search" ng-trim="true">
            <table>
                <tr ng-repeat="mod in module_output.modules | filter:module_search">
                    <td>{{ mod.filename }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 column">
            <h2>
                Memory
            </h2>
            <p class="memory_view">
                {{memory_output.block}}
            </p>
            <p>
                <input type="text" name="input" ng-model="read_mem_addr" required ng-trim="true">
                <button class="btn btn-default" ng-click="readMemory(read_mem_addr)">Read Memory</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="listSymbols()">List symbols</button>
            <input type="text" ng-model="sym_search" ng-trim="true">
            <table>
                <tr ng-repeat="sym in symbols_output.symbols | filter:sym_search">
                    <td>{{ sym.start_addr.load_addr }}</td>
                    <td>{{ sym.name }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 column">
            <h2>
                Threads
            </h2>
            <p>
                {{thread_list}}
            </p>
            <p>
                <button class="btn btn-default" ng-click="getThreads()">Get Threads</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Thread Frames
            </h2>
            <p>
                {{frames_list}}
            </p>
            <p>
                <input type="text" name="input" ng-model="thread_ind" required ng-trim="true">
                <button class="btn btn-default" ng-click="getFrames(thread_ind)">Get Threads</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Breakpoints
            </h2>
            <p>
                {{bp_output}}
            </p>
            <p>
                <input type="text" name="input" ng-model="breakpoint_symbol" required ng-trim="true">
                <button class="btn btn-default" ng-click="setBreakpoint(breakpoint_symbol)">Set Breakpoint</button>
            </p>
        </div>

        <div class="col-md-4 column">
            <button ng-click="addPlugin()">Add Plugin</button>

            <div ndb-plugins-container="plugins"></div>
        </div>
    </div>
</div>

<div class="footer" style="height: 100px;">
    <pre id="log_view"></pre>

    <div class="footer" style="height: 25px; overflow: hidden;">
        <input id="cmd_line" type="text">
    </div>
</div>

</body>
</html>