<!DOCTYPE html>
<html lang="en" ng-app="novodb">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Novodb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Novodb">
    <meta name="author" content="Mikhail Sosonkin">

    <link rel="stylesheet" href="css/bootstrap.min.css">   
    <style>
        body { padding-top: 70px; }
    </style>
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/novodb.js"></script>
</head>

<body ng-controller="dbg">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">Novodb</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!--<li class="active">
                <a href="#">Link</a>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">One more separated link</a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="exe_file_path" required ng-trim="true">
            </div>
            <button ng-click="targetExe(exe_file_path)" type="submit" class="btn btn-default">Load EXE</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
</nav>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">


        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="form-group">
                <input type="text" value="/Users/mike/cef/sample/hellow/a.out" class="form-control" ng-model="exe_file_path" required ng-trim="true" />
                <button ng-click="targetExe(exe_file_path)" type="submit" class="btn btn-default">Load EXE</button>
                <button class="btn btn-default" ng-click="launchTarget(session_id)">Launch</button>
                <button class="btn btn-default" ng-click="attachTarget(exe_file_path)">Attach</button>
            </div>
        </div>

        <div class="col-md-4 column">
            <pre>State: {{proc_state.description}} ({{proc_state.session}})</pre>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="readRegisters(session_id)">Get Registers</button>
            <input type="text" ng-model="reg_search" ng-trim="true">

            <div ng-repeat="reg_set in register_output.registers">
                {{ reg_set.name }}:
                <table>
                    <tr ng-repeat="reg in reg_set.values | filter:reg_search | filter:{value: '!!'}">
                        <td>{{ reg.name }}</td>
                        <td>{{ reg.value }}</td>
                    </tr>
                </table>
                <hr width="75%">
            </div>
        </div>
        <div class="col-md-4 column">
            <input type="text" name="input" ng-model="inst_addr" required ng-trim="true">
            <button class="btn btn-default" ng-click="readInstructions(session_id, inst_addr)">Read Instruction</button>

            <table>
                <tr ng-repeat="inst in inst_output.instructions">
                    <td>{{ inst.description }}</td>
                </tr>
            </table>

        </div>

        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="getModules(session_id)">Get Modules</button>
            <input type="text" ng-model="module_search" ng-trim="true">
            <table>
                <tr ng-repeat="mod in module_output.modules | filter:module_search">
                    <td>{{ mod.filename }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 column">
            <h2>
                Memory
            </h2>
            <p>
                {{memory_output}}
            </p>
            <p>
                <input type="text" name="input" ng-model="read_mem_addr" required ng-trim="true">
                <button class="btn btn-default" ng-click="readMemory(session_id, read_mem_addr)">Read Memory</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Symbols
            </h2>
            <p>
                {{symbols_output}}
            </p>
            <p>
                <button class="btn btn-default" ng-click="listSymbols(session_id)">List symbols</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Threads
            </h2>
            <p>
                {{thread_list}}
            </p>
            <p>
                <button class="btn btn-default" ng-click="getThreads(session_id)">Get Threads</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Thread Frames
            </h2>
            <p>
                {{frames_list}}
            </p>
            <p>
                <input type="text" name="input" ng-model="thread_ind" required ng-trim="true">
                <button class="btn btn-default" ng-click="getFrames(session_id, thread_ind)">Get Threads</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Breakpoints
            </h2>
            <p>
                {{bp_output}}
            </p>
            <p>
                <input type="text" name="input" ng-model="breakpoint_symbol" required ng-trim="true">
                <button class="btn btn-default" ng-click="setBreakpoint(session_id, breakpoint_symbol)">Set Breakpoint</button>
            </p>
        </div>
        <div class="col-md-4 column">
            <button class="btn btn-default" ng-click="getProcesses()">Get Processes</button>
            <input type="text" ng-model="proc_search" ng-trim="true">
            <table>
                <tr ng-repeat="proc in proc_output | filter:proc_search">
                    <td>{{proc.pid}}</td>
                    <td title="{{proc.path}}">{{proc.path | limitTo:-30}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>